:root {
	--bg-color-page: #e7e7e7;
	--bg-color-nav: #eeeeee;
	--bg-color-banner: #cecece;
	--text-color: #131313;
	--filter-invert: none;
}

.dark-mode {
	--bg-color-page: #121f2b;
	--bg-color-nav: #090b13;
	--bg-color-banner: #203b4d;
	--text-color: #ececec;
	--filter-invert: invert();
}
/* montserrat-regular - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/montserrat-v29-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* montserrat-700 - latin */
  @font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	src: url('/fonts/montserrat-v29-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

